* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-size-adjust: 100%;
    font-weight: bold;
}

.logo_left {
    display: flex;
    align-items: center;
}

.logo {
    height: 2.5rem;
    margin-right: 3.75rem;
    margin-left: 2rem;
    cursor: pointer;
}

.women {
    margin-right: 9px;
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: 6px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
}

.men {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .815rem;
    float: right;
    margin-top: 3px;
}

header {
    position: sticky;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    height: 69px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    opacity: 1;
    margin-top: -10px;
}

.search {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 13px !important;
    width: 15.9375rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
    font-size: smaller;
    padding: 1px;
}

.icons {
    color: black;
    margin: 5px;
}

.side-bar {
    background-image: url('./bershka-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 1.5rem;
    cursor: pointer;
}

.item {
    font-size: 23px;
    text-transform: uppercase;
    margin: 6px;
}

.last-item {
    text-transform: none;
    margin: 6px;
    font-size: 23px;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 17px;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    /* padding: 7px; */
    color: white;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 1rem;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    display: flex;
    height: 500px;
    margin-top: 0;
}

.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    margin-top: 81px;
    font-weight: bold;
}

p {
    margin-top: -12px;
    font-weight: lighter;
}

.tab {
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    width: 450px;
    height: 47px;
    display: flex;
    color: gray;
    align-items: center;
    margin-top: 7px;
    cursor: text;
    border-radius: 5px;
    font-size: 12px;
    padding: 15px;
}

h5 {
    font-size: 13px;
}

.policy {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-left: -15px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 10px;
    font-size: 11px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.copyright {
    margin-right: 57px;
}

.copyright h5 {
    font-size: 11px;
}

hr.solid {
    border-top: 1px solid #ebe5e5;
    margin-top: 53px;
    margin-left: 32px;
    margin-right: 52px;
}

.upper {
    display: flex;
    justify-content: space-between;
}

.left-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contact-module {
    flex-direction: column;
}

.whatsapp {
    text-decoration: none;
}

a:hover {
    color: violet;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.message {
    margin-left: -94px;
}

.message-text {
    font-size: 14px;
}
.online {
    font-size: 11px;
    color: lightgreen;
}
.message-text-p {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 88px;
}



.phone {
    margin-left: -94px;
}
.phone-text {
    font-size: 14px;
}
.phone-text-p {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 88px;
}